<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.cancian.uservoice" version="0.2.3" xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>UserVoice</name>
  <description>UserVoice Plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova,uservoice</keywords>

  <engines>
    <engine name="cordova" version="&gt;=3.0.0" />
  </engines>

  <platform name="ios">

    <js-module name="UserVoice" src="js/UserVoice.js">
      <clobbers target="UserVoice" />
    </js-module>

    <config-file parent="/*" target="config.xml">
      <feature name="UserVoiceCommand">
        <param name="ios-package" value="UserVoiceCommand" />
      </feature>
    </config-file>

    <header-file src="src/ios/UserVoiceCommand.h" />
    <source-file src="src/ios/UserVoiceCommand.m" />
    <source-file framework="true" src="src/ios/libUserVoice.a" />
    <framework src="QuartzCore.framework" />
    <framework src="SystemConfiguration.framework" />
    <header-file src="src/ios/UVHeaders/UserVoice.h" />
    <header-file src="src/ios/UVHeaders/UVConfig.h" />
    <header-file src="src/ios/UVHeaders/UVDelegate.h" />
    <header-file src="src/ios/UVHeaders/UVStyleSheet.h" />

    <asset src="src/ios/UVResources" target="Resources/UserVoice" />
  </platform>

  <platform name="android">

    <js-module name="UserVoice" src="js/UserVoice.js">
      <clobbers target="UserVoiceCommand" />
    </js-module>

    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="UserVoiceCommand">
        <param name="android-package" value="com.cancian.uservoice.UserVoiceCommand" />
      </feature>
    </config-file>

    <config-file parent="/*" target="AndroidManifest.xml">
    </config-file>

    <source-file src="src/android/UserVoiceCommand.java" target-dir="src/com/cancian/uservoice" />

  </platform>
</plugin>
